{% extends 'base.html' %}

{% block content %}

	<div id="main" style="padding-left: 2rem; padding-top: 2rem;">

		<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
			<h1 class="display-4 fw-normal">Books By Genre</h1>
			<p class="fs-5 text-muted">See the wide range of books in our library, organised by genre. Remember, if it's a book worth having, we have it here!</p>
		</div>

		<!-- Create dividers based on category -->
		{% for c in categories %}

			<h4 class="card-title" style="margin-bottom: 1rem;"> {{ c }} </h4>

			{% for b in books %}

				{% if b.category == c %}
					<div class="card" style="width: 45vw; padding: 2rem; margin-right: 2rem; margin-bottom: 2rem; display: inline-block;">
						<div class="card-body" style="padding: 1rem;">
							<h4 class="card-title" style="margin-bottom: 1rem;"> {{ b.title }} </h4>
							<h6 class="card-subtitle mb-2 text-muted">- {{ b.author }}, {{ b.year }}</h6>
							<a href="{% url 'single_book' bookid=b.id %}" class="btn btn-primary" style="font-size: 3rem; font-weight: 600; margin-top: 2rem;">€{{ b.price }}</a>
						</div>
					</div>
				{% endif %}


			{% endfor %}


		{% endfor %}

		

	</div>
	
{% endblock %}