{% extends 'base.html' %}

{% block content %}

	<style type="text/css">

		.form-style
		{
			width:  80vw;
			height:  80vh;

			padding:  0;
			margin:  4rem;

			display: flex;
			flex-direction: column;
		}

		input
		{
			/* remove default styling */
			border:0;
			outline:0;

			width: 60vw;
			
			display: flex;
			flex-direction: column;

			margin-bottom: 2rem;
			
			border:  none;
			border-bottom: solid 2px #757D85;

			transition-duration: .5s;
		}

		input:focus
		{
			border-bottom: solid 2px #0D6EFD;
			color:  black;
		}

		.errorlist
		{
			background-color: #cf492c;
			color:  #fffdd9;

			border-radius: 1rem;
			border: solid 4px #be2028;

			list-style: none;

			width:  60vw;
			padding:  .5rem;

			/* prep for custom icon as list style */
			--icon-space: 1.3em;
			list-style: none;
		}

		/* custom icon for li */
		.errorlist > li:before
		{
			content: "\f06a  "; /* FontAwesome Unicode */
			font-family: FontAwesome;
		}

	</style>

	<!-- the title -->
	<div class="px-4 py-5 my-3 text-center">


		{% if form.instance.id %} <!-- if we're editing -->
			<img class="d-block mx-auto mb-4" src="https://icons.getbootstrap.com/assets/icons/pencil.svg" alt="" width="72" height="57">
			<h1 class="display-5 fw-bold"> Editing Book </h1>
		{% else %} <!-- new book --> 
			<img class="d-block mx-auto mb-4" src="https://icons.getbootstrap.com/assets/icons/file-earmark-plus.svg" alt="" width="72" height="57">
			<h1 class="display-5 fw-bold"> Submit a New Book </h1>
		{% endif %}

	</div>

	<!-- the form -->
	<form class="form-group" action="" method="POST">
		<div class="container form-group">
			{% csrf_token %}


			<div class="form-style">

				{{ form.as_table }}

			<button class="btn btn-outline-primary" type="submit" style="width: 10rem;"> <i class="bi bi-search"> Add Book </i> </button>

			</div>
		</div>
	</form>

{% endblock %}